<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Spot On</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<link rel="icon" type="image/gif" href="favicon.gif" />
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/script2.js"></script>
</head>
<body>

	<div id="container">

		<div id="nav">
			<a href="index.html"><img id="logo" src="img/SpotOnLogo.png" alt="logo" /></a>

			<ul id="normalMenu">
				<li><a href="index.html">Home</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="player.html">Media Player</a></li>
			</ul>

			<div id="loginWithSpotify">
				<p>Login with </p> <img id="SpotLogo" src="img/spotifyLogo.png" alt="spotify logo" />
			</div>

			<a href="profile.html"><div id="respMenu">

			</div></a>
		</div>

		<div id="header">
			<img src="<%= image_url %>" id="profilePicture" alt="User Profile Picture" />
			<h3><%= display_name %></h3> <!-- Spotify Display Name -->
			<h4>Playlists - <span><%= playlists.length %></span> Songs - <span><%= tracks.length %></span></h4>
		</div>

		<div id="clear-box">
		</div>

		<div id="profileInfo">

			<div class="profileCols">
				<% var t = 0; %>
				<h2><%= playlist_name %></h2>

				<div id="musicPlayer">

					<iframe src="https://open.spotify.com/embed?uri=spotify:user:<%= playlist_owner %>:playlist:<%= playlist_id %>&view=coverart" width="400" height="480"
        frameborder="0" allow="encrypted-media" allowtransparency="true"></iframe>
					<!--<div id="coverArtBlured">
						<img class=album_art_blur src="<%= playlist_tracks[t].track.album.images[0].url %>" />
						<div id="coverArtBluredInner">
							<img class=album_art src="<%= playlist_tracks[t].track.album.images[0].url %>" />
						</div>
					</div>

					<div id="trackArt">
					</div>

					<div id="trackDetails">
						<!-- Load the details from the first track into the player -->
						<!--<h2><%= playlist_tracks[0].track.artists[0].name %></h2>
						<p><%= playlist_tracks[0].track.name %></p>
					</div>

					<div id="playTrackButton">
						<img src="img/play.png" alt="play track" />
					</div>

					<div class="nextPrevButtons prevPos">
						<img src="img/prev.png" alt="close" />
					</div>

					<div class="nextPrevButtons nextPos">
						<img src="img/next.png" alt="close" />
					</div>
					-->

				</div>

			</div>


			<div class="profileCols">

				<h2>Tracks</h2>
				<div id="profileSongs">
					<ol>
						<!-- Dynamically add the playlist's tracks from Spotify-->
            <% if(playlist_tracks){playlist_tracks.forEach(function(track) { %>
              <li class="trackOnProfile">
								<!--Track Title - Track Artist mins:secs -->
  							<p><%= track.track.name %> - <%= track.track.artists[0].name %> <span> <%= track.track.duration_min %></span></p>
  							<div class="playTrackProfile">
  								<img src="img/play.png" alt="play track" />
  							</div>
  						</li>
            <% }); }%>
					</ol>
				</div>
			</div>
		</div>


		<div id="footer">
		</div>
	</div>
</body>
</html>
